@model IEnumerable<SchoolRegistration.Models.Registration>

@{
    ViewData["Title"] = "Index";
}

<h1>Registration List</h1>

<p>
    <a asp-action="Create">Add New Registration</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                Registration Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.FirstName) @Html.DisplayFor(modelItem => item.Instructor.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName) @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentTypeNavigation.RegisterType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RegistrationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RegistrationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RegistrationId">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
